<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu|Maid Cafe</title>
</head>
<body>
    <h1><font color="#190482" font face="'tahoma">ME N U</font><br></h1>
    <p>Menu yang tersedia ada tiga jenis :</p>
    <p><font color="#7752FE">1. Main Cores</font> </p>
    <p><font color="#8E8FFA">2. Dessert</font> </p>
    <p><font color="#C2D9FF">3. Beverages</font> </p>
    <a href="/my_app">Home</a>
</body>
</html>